/*********************************************************************
FONTS
*********************************************************************/

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'), url(https://fonts.gstatic.com/s/rajdhani/v6/tz3398jtBIhi1rrADn6BZnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'), url(https://fonts.gstatic.com/s/rajdhani/v6/kcO_Mk7pjy8jlu86STaVz4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*********************************************************************
MAIN
*********************************************************************/
body {
	background-color: black;
	margin: 0 0;
	padding: 0 0;
	opacity: 0;
}

#backgroundImg {
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0 auto;
	z-index: -100;
	background: url('../images/shop_interior1.png') no-repeat center center fixed; /*replace me with wanted background*/
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat;
}

/* footer */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	z-index: 100;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 100;
}

/*********************************************************************
NAVIGATION
*********************************************************************/
#menuBtn {
	visibility: visible;
	background: none;
	border: none;
	position: fixed;
	right: 20px;
	bottom:5px;
    opacity: 1;
    cursor:pointer;
    height: 60px;
    width: 120px;
    font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	vertical-align: text-top;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    outline: 0;
}

#menuBtn:active {
	color: inherit;
	outline: 0;
}

#menuBtn:hover {
	color: white;
}

button:focus {outline:0;}

/* TAFARA insert CSS in here dont forget to create a branch git branch NovelNav, git checkout NovelNav */

/*********************************************************************
Character Divs
*********************************************************************/
.characterContainer {
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms--display: flex;
	justify-content: center;
	opacity: 0;
}

/* First Character of characters on screen */
.characterContainer span {
	width: 100%;
	height: 100%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

/* likely wont use this */
/*.characterContainer span img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 0;
}*/

.characterContainer span:nth-child(1) {
	background-image: url('../images/Sora2.png'); /*replace me with character*/
}

/* Second Character of characters on screen */
.characterContainer span:nth-child(2) {
	background-image: url('../images/Sora2.png'); /*replace me with character*/

}

/* Third Character of characters on screen */
.characterContainer span:nth-child(3) {
	background-image: url('../images/Sora2.png'); /*replace me with character*/

}

/* Fourth Character of characters on screen */
.characterContainer span:nth-child(4) {
	background-image: url('../images/Sora2.png'); /*replace me with character*/

}

/* Fifth Character of characters on screen */
.characterContainer span:nth-child(5) {
	background-image: url('../images/Sora2.png'); /*replace me with character*/

}

/* add more if we need more than 5 characters */

/*********************************************************************
Conversation Divs
*********************************************************************/
.conversationContainer {
	width: 80%;
	height: 50%;
	position: fixed;
	bottom: 50px;
	left: 10%;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	display: inline-block;
	vertical-align: top;
}

.conversationContainer #title {
	font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 50px;
	text-align: left;
	color: white;
	/*text-transform: uppercase;*/
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
   	opacity: 0;
}

.dialogue {
	border-color: rgba(255, 255, 255, 1);
	border-width: 3px;
	border-radius: 20px;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px); /* not working with all browsers */
	padding: 0px 20px;
	vertical-align: top;
	opacity: 0;
}

.dialogue p {
	font-family: 'Rajdhani';
	font-weight: 400;
	font-size: 25px;
	text-align: left;
	color: white;
}

#dialogueBtnContainer {
	height: 40px;
	margin-top: 10px;
}

#dialogueBtnContainer button {
	font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	vertical-align: text-top;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    background: none;
    border: none;
    z-index: 100;
    cursor: pointer;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline: 0;
}

#dialogueBtnContainer button:hover {
	color: white;
}

#dialogueBtnContainer button:active {
	outline: 0;
}

#nextBtn {
    float: right;
}



#prevBtn {
    float: left;;
}

.optionContainer {
	width: 100%;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms--display: flex;
	justify-content: center;
	margin-top: 20px;
	opacity: 0;
}

.optionContainer a {
	float: left;
	width: 100%;
	border-width: 3px;
	border-radius: 20px;
	border-style: solid;
	backdrop-filter: blur(20px);
	padding: 0px 20px;
	margin: 0 10px 0 10px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.optionContainer a h3 {
	font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	color: white;
}

.optionContainer a p {
	font-family: 'Rajdhani';
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: white;
}

.optionContainer a:nth-child(1) {
	border-color: rgba(244, 67, 54, 1);
	background-color: rgba(244, 67, 54, 0.7);
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.optionContainer a:nth-child(1):hover {
	background-color: rgba(244, 67, 54, 0.9);
}

.optionContainer a:nth-child(2) {
	border-color: rgba(33, 150, 243, 1);
	background-color: rgba(33, 150, 243, 0.7);
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.optionContainer a:nth-child(2):hover {
	background-color: rgba(33, 150, 243, 0.9);
}

.optionContainer a:nth-child(3) {
	border-color: rgba(76, 175, 80, 1);
	background-color: rgba(76, 175, 80, 0.7);
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.optionContainer a:nth-child(3):hover {
	background-color: rgba(76, 175, 80, 0.9);
}

/* use me to disable dialogue option */
.disableMe {
	pointer-events: none;
   	cursor: default;
   	opacity: 0.5;
}

/*********************************************************************
HELP OVERLAY
*********************************************************************/
#helpOverlay {
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	display: block;
	z-index: 1000;
	margin: 0 auto;
	position: fixed;
}

#closeBtn {
	background: url('../images/btns/close-btn.png') no-repeat;
	background-size: contain;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#helpDialogue {
	background-color: rgba(0, 0, 0, 1);
}

#helpDialogue p {
	font-family: 'Rajdhani';
	font-weight: 400;
	font-size: 35px;
	text-align: left;
	color: white;
}

#helpDialogue p span {
	color: rgb(33, 150, 243);
}

.conversationContainer #dialogueTitle {
	font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 50px;
	text-align: left;
	color: rgb(244, 67, 54);
}

#helpOptions a {
	pointer-events: none;
}

#optionsTitle {
	font-family: 'Rajdhani';
	font-weight: 700;
	font-size: 50px;
	text-align: left;
	color: rgb(244, 67, 54);∂
	visibility: hidden;
	margin-top: 30px;
	margin-bottom: -10px;
}

#helpOptions a:nth-child(1) {
	background-color: rgba(244, 67, 54, 1);
}

#helpOptions a:nth-child(2) {
	background-color: rgba(33, 150, 243, 1);
}

#helpOptions a:nth-child(3) {
	background-color: rgba(76, 175, 80, 1);
}

/*********************************************************************
Animations
*********************************************************************/


/*********************************************************************
OTHER
*********************************************************************/

/*********************************************************************
MOBILE
*********************************************************************/
/* mobile nav */
#mobileMenuBtn {
	visibility: hidden;
	background: url('../images/btns/hamburger-wht.png') no-repeat;
	background-size: contain;
	float:right;
	margin-right: 10px;
	width: 50px;
	height: 33px;
	margin-top: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#mobileMenuOverlay {
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	display: block;
	z-index: 1000;
	margin: 0 auto;
	position: fixed;
}

#mobileCloseBtn {
	background: url('../images/btns/close-btn.png') no-repeat;
	background-size: contain;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#mobileMenuContainer {
	margin: 0 auto;
	width: 100%;
	height: 80%;
	top: 20%;
	text-align: center;
	position: absolute;
}

#mobileMenuContainer ul {
	list-style-type:none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

#mobileMenuContainer li {
    display:block;
    vertical-align: top;
    height: 40px;
    text-align: center;
    margin-bottom: 10px; 
}

#mobileMenuContainer a {
	font-family: 'Rajdhani', sans-serif;;
	font-weight: 700;
	font-size: 40px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

#mobileMenuContainer button {
	font-family: 'Rajdhani', sans-serif;;
	font-weight: 700;
	font-size: 40px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    background: none;
    border: none;
 	cursor: pointer;
}

#mobileMenuContainer button:hover {
	color:white;
}

#mobileMenuContainer a:hover {
	color:white;
}

/* mobile */
@media only screen and (max-width: 1300px), (max-height: 1000px) {

	/* MENUS */
	footer {
		visibility: hidden; /* hide */
	}

	#menuBtn {
		visibility: hidden; /* hide, use hamburger menu for mobile */
	}

	header {
		visibility: visible;
	}

	#mobileMenuBtn {
		visibility: visible;
	}


	/* Dialogue and Options */
	.conversationContainer {
		width: 90%;
		height: 100%;
		left: 5%;
		top: 40px;
	}

	.conversationContainer #title {
		font-size: 24px;
	}

	.dialogue {
		padding: 0px 10px;
		margin: 0;
		max-height: 50%;
	}

	.dialogue p {
		font-size: 15px;f
	}

	#dialogueBtnContainer {
		height: 30px;
		margin-bottom: 5px;
	}

	#dialogueBtnContainer button {
		font-size: 20px;
		
	}

	.optionContainer {
		width: 100%;
		display: inline-block;
		vertical-align: bottom;
		position: absolute;
		bottom: 50px;
	}

	.optionContainer a {
		width: 100%;
		border-width: 3px;
		border-radius: 20px;
		border-style: solid;
		backdrop-filter: blur(20px);
		padding: 0;
		margin: 5px 0;
	}

	.optionContainer a h3 {
		font-size: 20px;
		text-align: center;
		padding: 0;
		margin: 0;
		margin-top: 10px;
	}

	.optionContainer a p {
		font-size: 15px;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

	/* help overlay */
	.conversationContainer #dialogueTitle {
		font-size: 24px;
	}

	#optionsTitle {
		font-size: 24px;
		display: inline-block;
		vertical-align: bottom;
		position: absolute;
		bottom: 200px;
	}

	#helpDialogue p {
		font-size: 15px;
	}

}